body{
  background: url("./assets/pokeball.svg");
  background-position-x: 95%;
  background-position-y: 5%;
  background-repeat: no-repeat;
  background-size: 25%;
}

.busqueda[type=text]{
  width: 35%;
  background-image: url(./assets/lupa.png);
  background-position: 6px 8px; 
  background-repeat: no-repeat;
  background-color: rgb(245, 245, 245);;
  padding-left:30px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 4px; 
  background-size: 5%;
}